<html>
  <head>
    <title>Funx interpreter</title>
    <style>
      .column {
        float: left;
        width: 50%;
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      #code {
        width: 90%;
        height: 50%;
        font-family: "Lucidia Console", monospace;
      }

      #functions {
        color: red
      }

      #variables {
        color: orange
      }

      #console {
        color: cyan
      }

      #results {
        color: lawngreen
      }
    </style>
  </head>
  <body>
    <h1>Funx</h1>
    <div class="row">
      <div class="column">
        <div class="row">
          <div class="column">
            <h2 id="functions">Functions:</h2>
            <ul>
            {% for key, value in funcs.items() %}
            <li>{{ key }}{% for p in value[1] %} {{ p }}{% endfor %}<br></li>
            {% endfor %}
            </ul>
          </div>

          <div class="column">
            <h2 id="variables">Variables:</h2>
            <ul>
            {% for key, value in vars.items() %}
            <li>{{ key }} = {{ value }}<br></il>
            {% endfor %}
            </li>
          </div>
        </div>

        <h2 id="console">Console:</h2>
        <form action="/", method="POST">
          <textarea name="input" id="code"></textarea>
          <br><br>
          <input type="submit" value="Submit" />
        </form>
        <p>Out: {{ out }}</p>
        <p>Error: {{ error }}</p>
      </div>

      <div class="column">
        <h2 id="results">Results:</h2>
        <ul>
        {% for h in hist %}
        <li>
          <b>Submission {{ h[2] }}:</b><br>
          In: {{ h[0] }}<br>
          Out: {{ h[1] }}<br>
        </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html> 
